<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <title>Ping Pong Generator</title>
</head>
<body>
    <div class='container'>
        <h1>Ping Pong Generator</h1>
        <h4>{{ result }}</h4>
        <a href='/'>again, again!</a>
    </div>
</body>
</html>
