<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <title>Ping Pong Generator</title>
</head>
<body>
    <div class='container'>
        {% if result is  not empty %}
        <h1>Ping Pong Generator</h1>
            {% for number in result %}
                <p> {{ number }} </p>
                {% endfor %}
        {% endif %}
        <a href='/'>again, again!</a>
    </div>
</body>
</html>
