<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <title>Ping Pong Generator</title>
</head>
<body>
    <div class='container'>
        <h1>Ping Pong Generator</h1>
        <form action='/ping_ponged'>
            <div class='form-group'>
                <label for='number'>Play this number:</label>
                <input id='number' name='number' class='form-control' type='text'>
            </div>
            <button type='submit' class='btn-success'>go on</button>
        </form>
    </div>
</body>
</html>
